/* font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif; */

body, html {
    font-family: 'PT Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
}
.logo{
    border-color: red
}